* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#upper {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#layer1 {
  width: 15%;
  height: 100%;
  padding: 8px;
}

#layer1 .son {
  height: 70%;
  width: 100%;
  background-color: #d8d8d8;
}
#layer2 {
  width: 50%;
  height: 100%;
  padding: 8px;
}

#layer3 {
  width: 30%;
  height: 100%;
  padding: 8px;
}

#layer3 .son {
  height: 70%;
  width: 100%;
  background-color: #d8d8d8;
}

#center {
  width: 100%;
  height: 85vh;
  display: flex;
  padding: 8px;
  gap: 8px;
}

#center #layer1 {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#center #layer1 .son1 {
  width: 100%;
  height: 50%;
  background-color: #d8d8d8;
}

#center #layer1 .son2 {
  width: 100%;
  height: 20%;
  background-color: #d8d8d8;
}

#center #layer2 {
  width: 85%;
  height: 100%;
  padding: 8px;
  background-color: #d8d8d8;
}

#lower {
  width: 100%;
  height: 5vh;
  background-color: #d8d8d8;
}
